<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<body>
	<div class="container">
		<h1 th:text="${titulo}"
			class="text-center"></h1>
			
	
		<table class="table table-striped ">
			<thead>
				<tr>
				<th scope="col">Id</th>
					<th style="width: 30%">Usuario</th>
						<th scope="col">password</th>
							<th scope="col">email</th>
							
					

				</tr>
			</thead>
			<tbody>
			
			
				<tr >
				<td th:text="${usuario.id}" class="align-middle text-center"></td>
					<td th:text="${usuario.nickname}" class="align-middle text-center"></td>
					<td th:text="${usuario.password}" class="align-middle text-center"></td>
					<td th:text="${usuario.email}" class="align-middle text-center"></td>
					<td ><a th:href="@{/form/}  + ${usuario.id}"
						class="btn btn-success btn-xs float-right" style="color: white;"
						th:text="'Editar'"></a></td>
							<td><a th:href="@{/editar/}  + ${usuario.id}"
						class="btn btn-danger btn-xs float-right" style="color: white;"
						th:text="'Eliminar'"
						onclick="return confirm('¿Estas seguro que deseas eliminar?');"></a>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>